.col {
    display: flex;
}
.jumbotron {
    margin-top: 55px;
}
.card-title {
    text-align: center;
}
.card-text {
    text-align: justify;
}
.price {
    text-align: center;
}
.btn {
    color: #000;
    background-color: #ffc107;
    width: 100%;
}
.footer {
    padding-top: 5px;
    background-color: #ffc107;
    margin-bottom: 0px;
    margin-top: 20px;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 16px;
    margin-top: 1%;
    margin-bottom: 0%;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
a {
    text-decoration: none;
}
.articles {
    margin: 0 0 1px;
}
.footer-address-icon {
    padding-right: 5px;
}
.buy-cart-icon {
    padding-right: 5px;
}
